
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar-logos {
    padding-left: 25%;
}   

.togglerindex-estilo{
    background-color:rgb(203, 245, 232);
    margin-top: 1rem;
    border-radius: 10px;   

}

.size-logos ul li a img {
    width: 3rem;
    height: 3rem;
    border-radius: 0;
}

.estilo-titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-align: center;
    

}


/* no tocar hacia abajo*/

.main__index {
    background-color:rgb(203, 245, 232);

}

.main__index h2 {
    background-color: whitesmoke ;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin: 0;
}


.contenedorindex {
    background-color:rgb(203, 245, 232);
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.25rem;
}


.contenedorindex div {
    background-color:rgb(255, 255, 255);
    height: 31.25rem;
    width: 25rem;
    text-align: center;
    margin-top: 1.25rem;
    display: inline-block;
 }

 .contenedorindex div h2 {
    font-family: 'Dosis', sans-serif;
    background-color: whitesmoke;
    width: 25rem;
 }

 .contenedorindex div img {
    height: 12.5rem;
    width: 21.87rem;
    margin: 1.25rem;
 }

 .contenedorindex div h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    background-color: rgb(208, 208, 231);
    width: 21.87rem;
    margin: 0 1.56rem 1.56rem 1.56rem;
 }

 .contenedorindex div p {
    font-family: 'Jost', sans-serif;
    width: 21.87rem;
    margin: 0 1.56rem 1.56rem 1.56rem;

 }

.section__index {
    background-color:rgb(203, 245, 232);
    height: auto;
    display: none;
}

.iframe {
    text-align: center;
    padding-top: 1.25rem;
}

.iframe__titulo {
    font-family: 'Mulish', sans-serif;
   background-color: whitesmoke;
}

.iframe__video {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

iframe {
    border-radius: 5px;
    margin: 1.25rem;
}


footer {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.footerlogoclubs__img {
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    display:none;
}

footer div img {
    height: 3.12rem;
    width: 3.12rem;
}

.textofooter__h4 {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;  
}

footer div a img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem 1rem 0 1rem;
}


.footerredeslogo__img{
    display: flex;
    justify-content: center;
}


/* Desde aqui paginas secundarias */

/* header de pages */ 

.header__pages {
    background-color:rgb(177, 218, 205);
    height: aut;
    display: grid;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
}

.header__pages div {
    margin: 1.25rem;
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
}

.tittlepages__h1{
 color: rgb(0, 0, 0);
 font-family: 'Montserrat', sans-serif;


}

.estilo-toggler {
    align-items: center;
    background-color: brown;
}


body header div img {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 20px;
}

.iconosligas__pages ul li a img {
    width: 3rem;
    height: 3rem;
}
.iconosligas__pages ul { 
    height: auto;
    display: flex;
    list-style: none;
}


/*main de pages*/

.main__pages {
    background-color:rgb(203, 245, 232);
   
}

.contenedorarticulos__pages {
    padding-top: 1rem;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.articulouno__pages , .articulodos__pages, .articulotres__pages { 
    background-color:rgb(255, 255, 255);
    font-family: 'Mulish', sans-serif;
    height: auto;
    width: 24.5rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 1rem;
    display: inline-block;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.articulouno__pages h2 , .articulodos__pages h2 , .articulotres__pages h2  { 
    color: black;
    background-color: whitesmoke ;
    margin-bottom: 1.87rem;
}

.bonuspages__h2  {
    margin-top: 6.25rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.articulouno__pages img {
    margin-bottom: 1.56rem;
}

.articulouno__pages p , .articulotres__pages p {
    padding: 0.6rem;
}

.articulodos__pages h3 , .articulouno__pages h2 , .articulodos__pages h2 , .articulotres__pages h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.articulotres__pages img {
    border-radius: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.articulodos__pages ul li {
    list-style: none;
    text-align:initial;
    margin-left: 6.25rem;
}

.trofeologo__img {
    margin-top: 1.25rem;
    border-radius: 1.25rem;
}

.campeoneslogo__pages div {
    display: inline-block;
    flex-flow: row wrap;

}

.campeoneslogo__pages div img{
    height:4.3rem;
    width:4.3rem;

}

/*Section pages */

.contenedorsection__pages h2 {
    background-color: whitesmoke ;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
} 

.bestplayersimg__pages {
    display: flex;
    background-color:rgb(203, 245, 232);
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Mulish', sans-serif;
}

.bestplayersimg__pages div img {
    height: 16rem;
    width: 17.3rem;
}

/* media queries de home */ 

@media screen and (min-width:600px) {

   .togglerindex-estilo{
        background-color: rgb(187, 187, 187);
        margin-left: 15%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: bold;
        font-family: 'Dosis', sans-serif; 
    }
        
    .navcontenedor-estilo {
        padding-left: 10%;
    }
    
    
    .divcontenedor-navbarlogos ul li a , .footer__pages .footerredeslogo__img a , .articulotres__pages img {
        transition: 0.5s;
        
        }
    
    .footer__pages .footerredeslogo__img a{
        transition: 0.5s;
    }
    
    .divcontenedor-navbarlogos ul li a:hover , .footer__pages .footerredeslogo__img a:hover , .articulotres__pages img:hover{
        transform: scale(1.1);
        transition: 0.5s;
     }

    .footer__pages .footerredeslogo__img a:hover {
        transform: rotate(360deg);
        transition: 0.5s;
    }

     .contenedorindex div img {
        transition: 0.5s;
     }

     .contenedorindex div img:hover {
        transform: scale(1.1);
        transition: 0.3s ;

     }

     .contenedorindex {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;


        grid-template-areas: 
        "contenedor__noticiauno contenedor__noticiados contenedor__noticiatres"
        "contenedor__noticiacuatro contenedor__noticiacinco contenedor__noticiaseis";
        justify-content: center;
        gap:1rem;
    }
    
    .contenedor__noticiauno {
        grid-area: contenedor__noticiauno;
    }

    .contenedor__noticiados {
        grid-area:contenedor__noticiados;
    }

    .contenedor__noticiatres{
        grid-area: contenedor__noticiatres;
    }

    .contenedor__noticiacuatro{
        grid-area: contenedor__noticiacuatro;
    }

    .contenedor__noticiacinco{
        grid-area: contenedor__noticiacinco;
    }

    .contenedor__noticiaseis{
        grid-area: contenedor__noticiaseis;
    }

    .section__index {
        display: block;
     }

 }

/* desde aqui media queries de pages */

@media screen and (min-width:600px) {

    .body__pages {
        display: grid;
        grid-template-columns: 3% 2fr 2fr 2fr;
        grid-template-rows: auto;
        background-color:rgb(203, 245, 232);
    

        grid-template-areas: 
        "header__pages header__pages header__pages header__pages"
        "footer__pages main__pages main__pages main__pages"
        "footer__pages contenedorsection__pages contenedorsection__pages contenedorsection__pages";   
    }

    .header__pages {
        grid-area: header__pages;
        background-color:rgb(161, 235, 211);
        justify-content:space-around;
        display: flex;
        padding-right: 3rem;
    }

        .iconohome__size {
                margin-right: 1.5rem;
            }

        .iconosligas__pages li a {
            width:8rem;
            transition: 0.5s;
        }
        
        .iconosligas__pages li a:hover{
            transform: scale(1.1);
            transition: 0.3s ;

        }

    .main__pages {
        grid-area: main__pages;
    }
        .contenedorarticulos__pages {
                gap:0;
                padding-left: 2rem;
                padding-bottom: 0;
            }
    .contenedorsection__pages {
        grid-area: contenedorsection__pages;    
    }
        .contenedorsection__pages h2 {
                margin-left: 5rem;
                margin-right: 5rem;
            }
    
        .bestplayersimg__pages div img {
            transition: 0.5s;
            margin-bottom: 0.7rem;
        }
        
        .bestplayersimg__pages div img:hover{
            transform: scale(1.1);
            transition: 0.3s ;
        }

        .bestplayersimg__pages div img {
            transition: 0.5s;
        }

        .bestplayersimg__pages div img:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }

    .footer__pages {
        grid-area: footer__pages;
        writing-mode: vertical-lr;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-around;
        margin: 3rem;
    }  

        .footer__pages .textofooter__h4 {
            transform: rotate(180deg);
            margin-top: 1.8;
        }
    }
