
* {
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient(to bottom, rgb(233, 233, 240), rgb(188, 188, 236));
    width: 1fr; /* verificar despues si se queda*/
}
.navbar-logos {
    padding-left: 25%;

}

.togglerindex-estilo{
    background-color:rgb(203, 245, 232);
    margin-top: 1rem;
    border-radius: 10px;   

}

.size-logos ul li a img {
    width: 3rem;
    height: 3rem;
    border-radius: 0;
}

.estilo-titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-align: center;
    

}


/* no tocar hacia abajo*/

.main__index {
    background-color:rgb(203, 245, 232);

}

.main__index h2 {
    background-color: whitesmoke ;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin: 0;
}


.contenedormain__index {
    background-color:rgb(203, 245, 232);
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}


.contenedormain__index div {
    background-color:rgb(255, 255, 255);
    height: 500px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
 }

.contenedormain__index div h2 {
    font-family: 'Dosis', sans-serif;
    background-color: whitesmoke;
    width: 400px;
 }

 .contenedormain__index div img {
    height: 200px;
    width: 350px;
    margin: 20px;
 }

 .contenedormain__index div h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    background-color: rgb(208, 208, 231);
    width: 350px;
    margin: 0 25px 25px 25px;
 }

 .contenedormain__index div p {
    font-family: 'Jost', sans-serif;
    width: 350px;
    margin: 0 25px 25px 25px;

 }

.section__index {
    background-color:rgb(203, 245, 232);
    height: auto;
    display: none;
}

.iframe {
    text-align: center;
    padding-top: 20px;
}

.iframe__titulo {
    font-family: 'Mulish', sans-serif;
   background-color: whitesmoke;
}

.iframe__video {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

iframe {
    border-radius: 5px;
    margin: 20px;
}


footer {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(188, 188, 236));
    padding-top: 0.5rem;
    

}

.footerlogoclubs__img {
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    display:none;
}

footer div img {
    height: 50px;
    width: 50px;
}


.textofooter__h4 {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;  
}

footer div a img {
    height: 40px;
    width: 40px;
    margin: 15px 15px 0 15px;
}


.footerredeslogo__img{
    display: flex;
    justify-content: center;
}


/* Desde aqui paginas secundarias */


.header__pages {
    background-color:rgb(177, 218, 205);
    height: aut;
    display: grid;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;


}

.header__pages div {
    margin: 20px;
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
}

.tittlepages__h1{
 color: rgb(0, 0, 0);
 font-family: 'Montserrat', sans-serif;


}

.estilo-toggler {
    align-items: center;
    background-color: brown;
}



body header div img {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 20px;
}

.iconosligas__pages ul li a img {
    width: 3rem;
    height: 3rem;
}
.iconosligas__pages ul { 
    height: auto;
    display: flex;
    list-style: none;
}


/*main*/

main {
    background-color:rgb(203, 245, 232);
   
}

.contenedorarticulos__pages {
    padding-top: 1rem;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.articulouno__pages , .articulodos__pages, .articulotres__pages { 
    background-color:rgb(255, 255, 255);
    font-family: 'Mulish', sans-serif;
    height: auto;
    width: 400px;
    text-align: center;
    margin: 15px;
    display: inline-block;
    border-radius: 20px;

}

.articulouno__pages h2 , .articulodos__pages h2 , .articulotres__pages h2  { 
    color: black;
    background-color: whitesmoke ;
    margin-bottom: 30px;
}

.bonuspages__h2  {
    margin-top: 100px;
}

.articulouno__pages img {
    margin-bottom: 25px;
}

.articulouno__pages p , .articulodos__pages h3, .articulotres__pages p {
    padding: 10px;
}

.articulotres__pages img {
    border-radius: 20px;
}

.articulodos__pages ul li {
    list-style: none;
    text-align:initial;
    margin-left: 100px;
}

.trofeologo__img {
    margin-top: 20px;
    border-radius: 20px;
}

.campeoneslogo__pages div {
    display: inline-block;
    flex-flow: row wrap;

}

.campeoneslogo__pages div img{
    height:70px;
    width:70px;

}


/*Section */


.contenedorsection h2 {
    background-color: whitesmoke ;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-bottom: 0;
} 

.bestplayersimg__pages {
    display: flex;
    background-color:rgb(203, 245, 232);
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Mulish', sans-serif;
}

.bestplayersimg__pages div img {
    height: 256px;
    width: 278px;
}


@media screen and (min-width:600px) {

   .togglerindex-estilo{
        background-color: rgb(187, 187, 187);
        margin-left: 15%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: bold;
        font-family: 'Dosis', sans-serif; 
    }
        
    .navcontenedor-estilo {
        padding-left: 10%;
    }
    
    
    .divcontenedor-navbarlogos ul li a {
        transition: 0.5s;
        
        }

    .divcontenedor-navbarlogos ul li a:hover{
        transform: scale(1.1);
        transition: 0.5s;
            
     }

     .contenedorindex div img {
        transition: 0.5s;
     }

     .contenedorindex div img:hover {
        transform: scale(1.1);
        transition: 0.3s ;

     }

     .contenedorindex {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;


        grid-template-areas: 
        "contenedor__noticiauno contenedor__noticiados contenedor__noticiatres"
        "contenedor__noticiacuatro contenedor__noticiacinco contenedor__noticiaseis";
        justify-content: center;
        gap:1rem;
    }
    

    .contenedor__noticiauno {
        grid-area: contenedor__noticiauno;
    }

    .contenedor__noticiados {
        grid-area:contenedor__noticiados;
    }

    .contenedor__noticiatres{
        grid-area: contenedor__noticiatres;
    }

    .contenedor__noticiacuatro{
        grid-area: contenedor__noticiacuatro;
    }

    .contenedor__noticiacinco{
        grid-area: contenedor__noticiacinco;
    }

    .contenedor__noticiaseis{
        grid-area: contenedor__noticiaseis;
    }

    .section__index {
        display: block;
    }

}     

/* desde aqui media queries de pages */

@media screen and (min-width:600px) {
    .header__pages {
        background-color:rgb(161, 235, 211);
        justify-content:space-around;
        display: flex;
    
}
.iconohome__size {
    margin-right: 1.5rem;
}

.iconosligas__pages li a {
        width:8rem;
        transition: 0.5s;
    }
    
    .iconosligas__pages li a:hover{
        transform: scale(1.1);
        transition: 0.3s ;

     }

     .iconosligas__pages img {
        transition: 0.5s;
     }

     .iconosligas__pages img:hover {
        transform: scale(1.1);
        transition: 0.3s ;
    }

    .bestplayersimg__pages div img {
        transition: 0.5s;
        margin-bottom: 0.7rem;
    }
    
    .bestplayersimg__pages div img:hover{
        transform: scale(1.1);
        transition: 0.3s ;

     }

     .bestplayersimg__pages div img {
        transition: 0.5s;
     }

     .bestplayersimg__pages div img:hover {
        transform: scale(1.1);
        transition: 0.3s ;
    }
}
